In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

dataset = pd.read_csv("50_Startups.csv")
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 4].values


#ColumnTransformer([('encoder', OneHotEncoder(), x)], remainder='passthrough')
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [2]:

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

labelencoder_x = LabelEncoder()
X[:, -3] = labelencoder_x.fit_transform(X[:, 3])

# onehotencoder = OneHotEncoder(categorical_features = [3])
# x = onehotencoder.fit_transform(x).to_array()
ct = ColumnTransformer([("R&D Spend", OneHotEncoder(),[3])], remainder="passthrough") # The last arg ([0]) is the list of columns you want to transform in this step
ct.fit_transform(X)

array([[0.0, 0.0, 1.0, 165349.2, 2, 471784.1],
       [1.0, 0.0, 0.0, 162597.7, 0, 443898.53],
       [0.0, 1.0, 0.0, 153441.51, 1, 407934.54],
       [0.0, 0.0, 1.0, 144372.41, 2, 383199.62],
       [0.0, 1.0, 0.0, 142107.34, 1, 366168.42],
       [0.0, 0.0, 1.0, 131876.9, 2, 362861.36],
       [1.0, 0.0, 0.0, 134615.46, 0, 127716.82],
       [0.0, 1.0, 0.0, 130298.13, 1, 323876.68],
       [0.0, 0.0, 1.0, 120542.52, 2, 311613.29],
       [1.0, 0.0, 0.0, 123334.88, 0, 304981.62],
       [0.0, 1.0, 0.0, 101913.08, 1, 229160.95],
       [1.0, 0.0, 0.0, 100671.96, 0, 249744.55],
       [0.0, 1.0, 0.0, 93863.75, 1, 249839.44],
       [1.0, 0.0, 0.0, 91992.39, 0, 252664.93],
       [0.0, 1.0, 0.0, 119943.24, 1, 256512.92],
       [0.0, 0.0, 1.0, 114523.61, 2, 261776.23],
       [1.0, 0.0, 0.0, 78013.11, 0, 264346.06],
       [0.0, 0.0, 1.0, 94657.16, 2, 282574.31],
       [0.0, 1.0, 0.0, 91749.16, 1, 294919.57],
       [0.0, 0.0, 1.0, 86419.7, 2, 0.0],
       [1.0, 0.0, 0.0, 76253.86, 0, 298664.47],
       [0.0, 0.0, 1.0, 78389.47, 2, 299737.29],
       [0.0, 1.0, 0.0, 73994.56, 1, 303319.26],
       [0.0, 1.0, 0.0, 67532.53, 1, 304768.73],
       [0.0, 0.0, 1.0, 77044.01, 2, 140574.81],
       [1.0, 0.0, 0.0, 64664.71, 0, 137962.62],
       [0.0, 1.0, 0.0, 75328.87, 1, 134050.07],
       [0.0, 0.0, 1.0, 72107.6, 2, 353183.81],
       [0.0, 1.0, 0.0, 66051.52, 1, 118148.2],
       [0.0, 0.0, 1.0, 65605.48, 2, 107138.38],
       [0.0, 1.0, 0.0, 61994.48, 1, 91131.24],
       [0.0, 0.0, 1.0, 61136.38, 2, 88218.23],
       [1.0, 0.0, 0.0, 63408.86, 0, 46085.25],
       [0.0, 1.0, 0.0, 55493.95, 1, 214634.81],
       [1.0, 0.0, 0.0, 46426.07, 0, 210797.67],
       [0.0, 0.0, 1.0, 46014.02, 2, 205517.64],
       [0.0, 1.0, 0.0, 28663.76, 1, 201126.82],
       [1.0, 0.0, 0.0, 44069.95, 0, 197029.42],
       [0.0, 0.0, 1.0, 20229.59, 2, 185265.1],
       [1.0, 0.0, 0.0, 38558.51, 0, 174999.3],
       [1.0, 0.0, 0.0, 28754.33, 0, 172795.67],
       [0.0, 1.0, 0.0, 27892.92, 1, 164470.71],
       [1.0, 0.0, 0.0, 23640.93, 0, 148001.11],
       [0.0, 0.0, 1.0, 15505.73, 2, 35534.17],
       [1.0, 0.0, 0.0, 22177.74, 0, 28334.72],
       [0.0, 0.0, 1.0, 1000.23, 2, 1903.93],
       [0.0, 1.0, 0.0, 1315.46, 1, 297114.46],
       [1.0, 0.0, 0.0, 0.0, 0, 0.0],
       [0.0, 0.0, 1.0, 542.05, 2, 0.0],
       [1.0, 0.0, 0.0, 0.0, 0, 45173.06]], dtype=object)

In [11]:

#Feature Scaling
# from sklearn.preprocessing import StandardScaler
# sc_x = StandardScaler()
# X_train = sc_x.fit_tranform(X_train)
# X_test = sc_x.transform(X_test)

AttributeError: 'StandardScaler' object has no attribute 'fit_tranform'

In [12]:

#Feature Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

#Prediction the test set results
y_pred = regressor.predict(X_test)

NameError: name 'X_train' is not defined

NameError: name 'X_train' is not defined

In [6]:

#building the optimal model using Backward Elimination
import statsmodels.formula.api as sm
X = np.append(arr = np.ones(50, 1)).astype(int), values = X, axis = 1)
X_opt = X[:, [0, 1, 2, 3, 4, 5]]
regressor_OLS = sm.OLS(endog = y, exog = X_opt).fit()
regressor_OLS.summary()

SyntaxError: invalid syntax (<ipython-input-6-b45de9c3cf95>, line 3)